.login {
    padding: 0 40px;
    border-right: 1px solid;
}

.mb_15 {
    margin-bottom: 15px;
}

@media (max-width: 700px) {
    .login {
        border: none;
        border-bottom: 1px solid;
        padding-bottom: 20px;
    }
}